---
---

@import "{{ site.theme }}";


header {
  color: #fff;
  text-align: center;
  background-color: #38b6ff;
  background-image: #38b6ff;
}

.page-header{
    background-color: unset;
    background-image: unset;
}
}
h1 {
  font-family: "Bodoni, Georgia, serif"}


h2 {
  font-family: "Bodoni, Georgia, serif"}

body {
  font-family: ""Josefin Sans", Josefin, Geneva, Verdana, sans-serif"
}
