---
---

@import "{{ site.theme }}";


header {
  color: #fff;
  text-align: center;
  background-color: #38b6ff;
  background-image: #38b6ff;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(to bottom, #38b6ff, #9edbff);
}

h1 {
  font-family: "Bodoni, Georgia, serif";
  }


h2 {
  font-family: "Bodoni, Georgia, serif";
  }

body {
  font-family: ""Josefin Sans", Josefin, Geneva, Verdana, sans-serif"
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #38b6ff;}
